code {
    padding: 0 !important;
    font-size: 90%;
    color: #bd4147;
    background: none !important;
    border: none !important;
}

div.rulename {
    font-variant: small-caps;
}

.ss_eval_steps {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-top: 0.2cm;
    margin-bottom: 1cm;
}
.ss_eval_step {
    /*width: 100%;*/
}
.ss_first_col {
    text-align: right;
    width: 50%;
    vertical-align: top;
}

.ss_arrow_col {
    text-align: left;
    width: 50%;
}

.ss_step_col {
    text-align: left;
    width: 50%;
}

#ruleApplication .instantiated-vars {
    margin-top: 0.2cm;
}

/*.sub {
    vertical-align: sub;
    font-size: smaller;
}*/

.highlight-visible,
.highlight-visible code,
.highlight-prev-visible {
    color: blue !important;
}
.highlight-visible.conc {
    border-color: blue !important;
}

.highlight-context {
    color: orange !important;
}

.rulename:hover {

}

.popover {
    display:block !important;
    max-width: 1000px!important;
    width:auto;
    height: auto !important;
    color: black !important;
    z-index: 10000;
}

.rule-app-sep {
    border-top: lightgray solid 0.05cm;
    margin-top: -0.3cm;
    margin-bottom: -0.3cm;
    padding: 0cm;
    width: 100%;
}

/** Source: http://stackoverflow.com/a/16338823 */
td {
    text-align:center;
    height: 1em;
    vertical-align:bottom;
}
td.conc {
    border-top: solid 1px;
}
div.rulename {
    margin-top:-2em;
}

.katex-display {
    margin: 0 0 0 0 !important;
}

.katex {
    margin: 0 0 0 0 !important;
}