code {
    padding: 0 !important;
    font-size: 90%;
    color: #bd4147;
    background: none !important;
    border: none !important;
}

div.rulename {
    font-variant: small-caps;
}

.ss_eval_steps {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-top: 0.2cm;
    margin-bottom: 1cm;
}
.ss_eval_step {
    width: 100%;
}
.ss_first_col {
    text-align: right;
    width: 50%;
    vertical-align: top;
}

.ss_arrow_col {
    text-align: left;
    width: 50%;
}

.ss_step_col {
    text-align: left;
    width: 50%;
}

#ruleApplication .instantiated-vars {
    margin-top: 0.2cm;
}

.sub {
    vertical-align: sub;
    font-size: smaller;
}

/** Source: http://stackoverflow.com/a/16338823 */
td {
    text-align:center;
    height: 1em;
    vertical-align:bottom;
}
td.conc {
    border-top: solid 1px;
}
div.rulename {
    margin-top:-2em;
}

.katex-display {
    margin: 0 0 0 0 !important;
}

.katex {
    margin: 0 0 0 0 !important;
}