code {
    padding: 0 !important;
    font-size: 90%;
    color: #bd4147;
    background: none !important;
    border: none !important;
}

div.rulename {
    font-variant: small-caps;
}

/** Source: http://stackoverflow.com/a/16338823 */
td {
    text-align:center;
    height: 1em;
    vertical-align:bottom;
}
td.conc {
    border-top: solid 1px;
}
div.rulename {
    margin-top:-2em;
}

.katex-display {
    margin: 0 0 0 0 !important;
}

.katex {
    margin: 0 0 0 0 !important;
}